source_env .env.local.example # we load the example file to cover defaults
source_env .env.local # the local file will override variables in the example file

# global
export NODE_OPTIONS="--max-old-space-size=8192"

nvmrc=.nvmrc # target the node version file

if [ -f "$nvmrc" ] && [ "$SKIP_NVMRC" != 'true' ]; then
  version="$(cat "$nvmrc")" # read the version from the version file
  
  source ~/.nvm/nvm.sh &> /dev/null || true # try to load nvm first
  if command -v nvm &> /dev/null; then
    nvm use $version
  elif command -v n &> /dev/null; then
    n $version
  else
    echo "nvm or n not found"
  fi

fi
